.shipment-status-section::-webkit-scrollbar {
    height: 8px;
}

.shipment-status-section::-webkit-scrollbar-track {
    border-radius: 10px;
    height: 0;
    background-color: transparent;
}

.shipment-status-section::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px;
}

.table-row::-webkit-scrollbar {
    height: 3px;
}

.table-row::-webkit-scrollbar-track {
    border-radius: 10px;
    height: 0;
    background-color: transparent;
}

.table-row::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px;
}

.drawer-content::-webkit-scrollbar {
    width: 7px;
    max-height: 40px;
}

.drawer-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}

.drawer-content::-webkit-scrollbar-thumb {
    background: #ABA7A7;
    border-radius: 10px;
}